@tailwind base;
@tailwind components;
@tailwind utilities;

.site-header {
    position: sticky;
    top: 0;
    z-index: 9999;
}

/* Ẩn thanh cuộn ngang cho toàn bộ trang */
body {
  overflow-x: hidden;
}

/* Ẩn thanh cuộn nhưng vẫn cho phép cuộn (dành cho Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Ẩn cho Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* .item-courses {
    display: block;
    color: #4a5568; 
    transition: background-color 0.3s, color 0.3s;
}

.item-courses:hover {
    display: block;
    color: #ffffff; 
    background-color: #000000; 
} */

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: #FFCCCC;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -12px ,  -14px 0,  14px 0, 38px 0;
  }
  33% {
    box-shadow: -38px 0px, -14px -12px,  14px 0, 38px 0;
  }
  66% {
    box-shadow: -38px 0px , -14px 0, 14px -12px, 38px 0;
  }
  100% {
    box-shadow: -38px 0 , -14px 0, 14px 0 , 38px -12px;
  }
}


.bg-custom {
  background: linear-gradient(to bottom, #4cacfb, #ffffff);
  background-size: 100% 100%;
}
.roadmap-bg {
  background: linear-gradient(to bottom, #FFCCCC, #ffffff);
  background-size: 100% 100%;
}

.button-custom {
  background: radial-gradient(
    circle at center,
    #FFCCCC 0%,
    #FFCCCC 30%,
    #ffffff 100%
  );
}
.logo-bg {
    position: absolute;
    z-index: 1;
}
.bg-welcome {
    background-image: url('../assets/bg_welcome.png');
    background-size: cover;
    background-position: center;
}
.bg-frontend {
    background-image: url('../assets/bg_frontend.png');
    background-size: cover;
    background-position: center;
}
.bg-backend {
    background-image: url('../assets/bg_backend.png');
    background-size: cover;
    background-position: center;
}
.bg-orther {
    background-image: url('../assets/bg_orther.png');
    background-size: cover;
    background-position: center;
}

.bg-profile {
    background-image: url('../assets/bg_profile.png');
    background-size: cover;
    background-position: center;
}
